:root {
    --color1: #2A095F;
    --color2: #3D02BD;
    --color3: #E25BFF;
    --color4: #DDB1FF;
    --color5: #FBEFFF;
}

#playerStatsMain {
    position: relative;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    overflow: hidden; 
}

#playerStatsMain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('./src/img/backgroundPlayerStats.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(20px);
}

#playerStatsMain p {
    color: var(--color2);
}

.hiddenPlayerStats {
    display: none;
}

#playerInput {
    margin: 5%;
}

#searchButtonPlayerStats {
    background-color: var(--color1);
    color: var(--color5);
}

#searchButtonPlayerStats:hover {
    background-color: var(--color2);
}

#searchContainerPlayerStats {
    margin-bottom: 5%;
}

#searchContainerPlayerStats label {
    font-size: 25px;
    color: var(--color1);
}

#playerStatsContainer  {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

#playerStatsContainer div {
    margin: 3% 0;
    border-radius: 5px;
}

#playerStatsContainer h2 {
    color: var(--color3);
}

#playerStatsObtained h3 {
    background-color: var(--color3);
    border-radius: 5px 5px 0 0;
    color: var(--color5);
}

#playerStatsObtained h4 {
    color: var(--color1);
    text-shadow: none;
}

#playerName, #playerLevel, #playerMatches {
    color: var(--color4);
}

#playerStatsObtained p {
    font-size: 1.25em;
    text-shadow: none;
}

.col-4.container-fluid.text-center {
    position: relative;
    z-index: 1;
}
