:root{
    --color1: #2A095F;
    --color2: #3D02BD;
    --color3: #E25BFF;
    --color4: #DDB1FF;
    --color5: #FBEFFF;
}

body {
    background-color: var(--color4);

}

main {
    margin: 5%;
}

main p {
    color: var(--color2);
}

.hidden {
    display: none;
}

#playerInput {
    margin: 5%;
}

#searchButton {
    background-color: var(--color1);
    color: var(--color5);
}

#searchButton:hover {
    background-color: var(--color2);
}

#searchContainer {
    margin-bottom: 5%;
}

#searchContainer label {
    font-size: 25px;
}

#searchContainer label {
    color: var(--color1);
}

#playerStatsContainer div {
    margin: 3% 0;
    border-radius: 5px;
}

#playerStatsContainer h2 {
    color: var(--color1);
}

#stats h3 {
    background-color: var(--color3);
    border-radius: 5px 5px 0 0;
    color: var(--color5);
}

#stats h4 {
    color: var(--color1);
}

#playerName, #playerLevel, #playerMatches {
    color: var(--color2);
}

#stats p {
    font-size: 1.25em;
}